@model mvcHELLO.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <h1 style="color:firebrick">THIS IS THE SECOND PAGE!</h1>
    <br />
    @Model.UName
    <br />
    @Model.UCity
    <br />
    @Model.UID
</body>

</html>
